$primary-color: white;
$secondary-color: black;

.click-me {
  cursor: pointer;
}

.x-align {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.y-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.dead-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}